<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546098499306-0i3buipsfs8qt0u6it909gb5fb4252gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546098499306-0i3buipsfs8qt0u6it909gb5fb4252gk</string>
	<key>API_KEY</key>
	<string>AIzaSyBuWwBaywNxCK1XdhphCRkng5fHimlC05w</string>
	<key>GCM_SENDER_ID</key>
	<string>546098499306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>easychat-98a81</string>
	<key>STORAGE_BUCKET</key>
	<string>easychat-98a81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546098499306:ios:be9a4fb5ed343519e6d193</string>
</dict>
</plist>